<div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h4>Agregar Alumno</h4>
    <form action="/alumnos/agregar" method="POST">
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" placeholder="Nombre" id="nombre" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="paterno">Apellido paterno:</label>
        <input type="text" name="paterno" placeholder="Paterno" id="paterno" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="materno">Apellido materno:</label>
        <input type="text" name="materno" placeholder="Materno" id="materno" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="fechaNacimiento">Fecha nacimiento:</label>
        <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="sexo">Sexo</label>
        <select name="sexo" id="sexo" class="form-control bg-dark text-white">
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
        </select>
    </div>
    <div>
        <label for="celular">Celular:</label>
        <input type="number" name="celular" placeholder="Celular" id="celular" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="direccion">Direccion:</label>
        <input type="text" name="direccion" placeholder="Direccion" id="direccion" class="form-control bg-dark text-white"/>
    </div>
    <button class="btn btn-success btn-sm -mt-2">Agregar</button>
</form>
</div>  