<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> alumnos/alumnosForm}}
        </div>
        <div class="col-md-5">
            {{> alumnos/alumnosTabla}}
        </div>
    </div>
</div>

