<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> asignaturas/asignaturasForm}}
        </div>
        <div class="col-md-5">
            {{> asignaturas/asignaturasTabla}}
        </div>
    </div>
</div>




 
