<!DOCTYPE html>
<html>
    <div style="margin-left: 5%;">
  <div>
    <div  style="margin-top: 5%;">
      <h1 class="display-4">¿A dónde quieres ir?</h1>
      <p class="lead">Seleccione una opcion</p>
      
    </div>
  </div>
  <div style="margin-top: 8%;">
    <div class="row">
      <div class="col-md-4">
        <h2>Alumnos</h2>
        <a class="btn btn-primary btn-lg" href="/alumnosAgregar" role="button"  style="width: 300px;">Ver más</a>
      </div>
      <div class="col-md-4">
        <h2>Profesores</h2>
        <a class="btn btn-primary btn-lg" href="/profesorAgregar" role="button" style="width: 300px;">Ver más</a>
      </div>
      <div class="col-md-4">
        <h2>Asignaturas</h2>
        <a class="btn btn-primary btn-lg" href="/asignaturasAgregar" role="button"  style="width: 300px;">Ver más</a>
      </div>
    </div>
  </div>
  </div>
 