<div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h4>Agregar Profesor</h4>
    <form action="/profesor/agregar" method="POST">
    <div>
        <label for="rfc">RFC:</label>
        <input style="background-color: transparent;" type="text" name="rfc" placeholder="RFC" id="rfc" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="nombre">Nombre:</label>
        <input style="background-color: transparent;" type="text" name="nombre" placeholder="Nombre" id="nombre" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="paterno">Apellido paterno:</label>
        <input style="background-color: transparent;" type="text" name="paterno" placeholder="Paterno" id="paterno" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="materno">Apellido materno:</label>
        <input style="background-color: transparent;" type="text" name="materno" placeholder="Materno" id="materno" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="fechaNacimiento">Fecha nacimiento:</label>
        <input style="background-color: transparent;" type="date" name="fechaNacimiento" id="fechaNacimiento" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="direccion">Direccion:</label>
        <input style="background-color: transparent;" type="text" name="direccion" placeholder="Direccion" id="direccion" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="celular">Celular:</label>
        <input style="background-color: transparent;" type="number" name="celular" placeholder="Celular" id="celular" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="profesion">Profesion:</label>
        <input style="background-color: transparent;" type="text" name="profesion" placeholder="Profesion" id="profesion" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="numeroEmpleado">Numero de Empleado:</label>
        <input style="background-color: transparent;" type="number" name="numeroEmpleado" placeholder="Numero de Empleado" id="numeroEmpleado" class="form-control bg-dark text-white"/>
    </div>
    <button class="btn btn-success btn-sm -mt-2">Agregar</button>
</form>
</div>

